<div class="register-background">
  <div class="register-overlay">
    <div class="register-container" @slideBounce>
      <p class="country-name">HOUSE RENTAL SYSTEM</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Username Field -->
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" formControlName="username"  type="text" name="username" required>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" formControlName="password" type="password" name="password"  required>
        </mat-form-field>

        <!-- Confirm Password Field -->
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm your password" formControlName="confirmPassword"  type="password" name="confirmPassword" required>
        </mat-form-field>

        <!-- Submit Button -->
        <div class="actions">
          <button mat-raised-button color="primary" class="register-btn">Register</button>
        </div>
      </form>

      <div class="login-link">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Back Button -->
<button mat-fab color="accent" class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>

<!-- Footer -->
<app-footer></app-footer>
