<header class="header">
  <div class="logo">
    <img src="assets/images/house.png" alt="Logo">
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <div class="title">
    HOUSE RENTAL SYSTEM AND SOCIAL SERVICES
  </div>
</header>

<div class="container">
  <h2>Available services</h2>
  <p>
    Welcome to House Rental System and Social Service
  </p>
  <div class="cards-wrapper">
    <mat-card class="card">
      <img src="assets/images/house.png" alt="Open Space" class="icon">
      <mat-card-title>TENANT</mat-card-title>
    </mat-card>
    <mat-card class="card">
      <img src="assets/images/people.png" alt="Book Open Space" class="icon">
      <mat-card-title>LANDLOAD</mat-card-title>
    </mat-card>
  </div>
</div>

