<header class="header">
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <div class="title">
    HOUSE RENTAL SYSTEM AND SOCIAL SERVICES
  </div>
</header>

<div class="container">
  <h2>Available services</h2>
  <p class="welcome-message">
    Welcome to the House Rental System and Social Services platform.
    Here, tenants and landlords can seamlessly manage rentals,
    while also accessing essential social services in one convenient place.
  </p>
  <div class="cards-wrapper">
    <mat-card class="card">
      <img src="assets/images/house.png" alt="Open Space" class="icon">
      <mat-card-title>TENANT</mat-card-title>
    </mat-card>
    <mat-card class="card">
      <img src="assets/images/people.png" alt="Book Open Space" class="icon">
      <mat-card-title>LANDLOAD</mat-card-title>
    </mat-card>
  </div>
</div>
<button mat-fab color="accent" class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
