<header class="header">
  <div class="logo">
    <img src="assets/images/house.png" alt="Logo">
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <div class="title">
    WEB-GIS APPLICATION FOR OPEN SPACE MANAGEMENT AT KINONDONI
  </div>

  <nav [class.active]="menuOpen" class="nav-buttons">
    <button class="create-account">Sign up</button>
  </nav>
</header>

<div class="container">
  <h2>Services</h2>
  <p class="description">Choose a service below to proceed: Select Open spaces to report unusual activity to the environment
    and select Book open space to book an area for activity according to the price of an area at Kinondoni Municipal Thanks
  </p>
  <div class="cards-wrapper">
    <mat-card class="card">
      <img src="assets/images/house.png" alt="Open Space" class="icon">
      <mat-card-content>
        <p>Report illegal use of open space</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <img src="assets/images/people.png" alt="Book Open Space" class="icon">
      <mat-card-title>Book Open Space</mat-card-title>
    </mat-card>
  </div>
</div>
