<div class="register-background">
  <div class="register-overlay">
    <div class="register-container" @slideBounce>
      <p class="country-name">HOUSE RENTAL SYSTEM</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Username</mat-label>
          <input matInput  placeholder="Enter your username" formControlName="username" type="text" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" formControlName="password" type="password" required>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" class="register-btn">Login</button>
        </div>
      </form>

      <div class="login-link">
        <p>Do not have an account? <a routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>
</div>

<button mat-fab color="accent" class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
<app-footer></app-footer>
