<div class="reset-password-container">
  <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()" class="reset-password-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Enter new password" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm new password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Reset Password
    </button>
  </form>
</div>
