<c-card-group class="mb-4 card-group-custom">
  <c-card *ngFor="let house of houses" class="custom-card">
    <c-card-body>
      <h5 cCardTitle>{{ house.house_type | titlecase }}</h5>
      <p cCardText><strong>Phone:</strong> {{ house.contact }}</p>
      <p cCardText><strong>Available:</strong> {{ house.availability_date | date }}</p>
      <p cCardText><strong>Price:</strong> TZS {{ house.price_per_month }}</p>
      <p cCardText><strong>Location:</strong> {{ house.location }}</p>
      <div class="button-group">
        <button mat-raised-button color="accent" (click)="openDialog(house)">View</button>
        <button mat-raised-button color="primary" (click)="NavigateToLogin()">Book</button>
      </div>
    </c-card-body>
  </c-card>
</c-card-group>
