<!-- tenant-house-list.component.html -->
<div class="house-card-container">
  <mat-card *ngFor="let house of houses" class="house-card">
    <mat-card-header>
      <mat-card-title>{{ house.house_type | titlecase }}</mat-card-title>
      <mat-card-subtitle>{{ house.location }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="house.image" alt="House Image" />

    <mat-card-content>
      <p><strong>Rooms:</strong> {{ house.number_of_rooms }}</p>
      <p><strong>Price/Month:</strong> TZS {{ house.price_per_month }}</p>
      <p><strong>Available From:</strong> {{ house.availability_date }}</p>
      <p><strong>Contact:</strong> {{ house.contact }}</p>
    </mat-card-content>
  </mat-card>
</div>
