<div class="dashboard-cards-container" @cardStagger>
  <div class="dashboard-cards">
    <mat-card class="dashboard-card borrowed">
      <div class="card-icon"><mat-icon>group</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Openspace</p>
        <p class="card-footer">9 Available Openspace</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card profit">
      <div class="card-icon"><mat-icon>check_circle</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Solved issues</p>
        <p class="card-footer">10 Solved</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card conversion">
      <div class="card-icon"><mat-icon>hourglass_empty</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Pending issues</p>
        <p class="card-footer"> 8 Pending</p>
      </div>
    </mat-card>
  </div>
</div>
