<div class="dashboard-cards-container" @cardStagger>
  <div class="dashboard-cards">
    
    <mat-card class="dashboard-card borrowed">
      <div class="card-icon"><mat-icon>group</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Available Users</p>
      <p class="card-footer">{{ totalUsers }} Users</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card profit">
      <div class="card-icon"><mat-icon>home</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Total Houses</p>
        <p class="card-footer">{{ totalHouses }} Houses</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card conversion">
      <div class="card-icon"><mat-icon>check_circle</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Booked Houses</p>
        <p class="card-footer">15 Booked</p>
      </div>
    </mat-card>
  </div>
</div>
