/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button.mat-raised-button {
  border-radius: 0 !important;  // Remove border-radius to avoid rounded corners
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

mat-card {
  margin: 20px;
}

/* Ensure Material overlays appear above everything */
.cdk-overlay-container {
  z-index: 10000 !important;
  position: relative; /* Ensure it's stackable */
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #3A7D44;
  border-color: #3A7D44;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #3A7D44;
  stroke: #3A7D44;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #3A7D44 !important;
}
