<app-header></app-header>
<c-card-group class="mb-4 card-group-custom">
  <c-card class="custom-card">
    <img cCardImg="top" src="assets/images/image1.jpeg" alt="Landlord">
    <c-card-body>
      <h5 cCardTitle>Landlord</h5>
      <p cCardText>
        Manage your properties, view applications, and communicate with tenants.
      </p>
    </c-card-body>
    <c-card-footer>
      <small class="text-medium-emphasis">Updated 3 mins ago</small>
    </c-card-footer>
  </c-card>

  <c-card class="custom-card">
    <img cCardImg="top" src="assets/images/image2.jpeg" alt="Tenant">
    <c-card-body>
      <h5 cCardTitle>Tenant</h5>
      <p cCardText>
        Browse listings, apply for rentals, and communicate with landlords easily.
      </p>
    </c-card-body>
    <c-card-footer>
      <small class="text-medium-emphasis">Updated 5 mins ago</small>
    </c-card-footer>
  </c-card>

  <c-card class="custom-card">
    <img cCardImg="top" src="assets/images/image3.jpeg" alt="Administrator">
    <c-card-body>
      <h5 cCardTitle>Administrator</h5>
      <p cCardText>
        Oversee all platform activity, manage user roles, and ensure system integrity.
      </p>
    </c-card-body>
    <c-card-footer>
      <small class="text-medium-emphasis">Updated 10 mins ago</small>
    </c-card-footer>
  </c-card>
</c-card-group>
